language: python

sudo: required

python:
  - "3.6"

services:
  - postgresql

addons:
  postgresql: "9.6"

env:
  - TPCH_PASSWORD=dbf8pXCrzZ5cDeqv

before_install:
  - python --version
  - pip --version
  - pg_config --version
  - psql --version

  - wget -q https://github.com/electrum/tpch-dbgen/archive/32f1c1b92d1664dba542e927d23d86ffa57aa253.zip -O tpch-dbgen.zip
  - unzip -q tpch-dbgen.zip
  - mv tpch-dbgen-32f1c1b92d1664dba542e927d23d86ffa57aa253 tpch-dbgen
  - rm tpch-dbgen.zip

install:
  - pip install -r requirements.txt

before_script:
  - psql --command="CREATE DATABASE tpchdb;" -U postgres
  - psql --command="CREATE USER tpch WITH PASSWORD '${TPCH_PASSWORD}';" -U postgres
  - psql --command="GRANT ALL PRIVILEGES ON DATABASE tpchdb TO tpch;" -U postgres

script:
  - ./benchmark.py || true # ignore exit code 2 from the command
  - ./benchmark.py --help
  - export PYTHONPATH=$(pwd) && echo $PYTHONPATH && cd test/ && python -m unittest test_benchmark.py --verbose && cd ..
  - ./benchmark.py --scale 0.01 prepare
  - ./benchmark.py --dbname tpchdb --username tpch --password $TPCH_PASSWORD load
  - ./benchmark.py --dbname tpchdb --username tpch --password $TPCH_PASSWORD query

